<link rel="stylesheet" type="text/css" href="shadowdedulet/css/partials/messageTop.css">

<div id='messageTopContainer'>
    <div id='messageTop'>
        <div id='status'></div>
        <p id='info'><%= LOC_INFO %></p>
    </div>
</div>