<div class="hcontainer profile">
    <div class="hcontainer sign">
        <div id='signInBtn' class='signBtn'><%= SITE.signIn %></div>
        <div id='signUpBtn' class='signBtn'><%= SITE.signUp %></div>
    </div>
</div>