.aboutme {
    display: flex;

    width: 60%;
    min-height: 50%;

    margin: 20px auto;
    padding: 50px;

    flex-direction: column;

    color: #000;
}

.aboutme h2 {
    padding-left: 75px;

    font-weight: 400;
}

.aboutme p {
    font-weight: 400;
    line-height: 20px;
    text-indent: 25px;
    word-spacing: 3px;
}

.aboutme ul {
    list-style-type: circle;
    list-style-position: inside;
    margin: 5px 0;
}
